click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==3.3.2
cycler==0.10.0
enum34==1.1.10
identify==1.4.7
idna==2.10
matplotlib==2.2.5
numpy==1.16.6
paho-mqtt==1.5.1
pandas==0.24.2
paramiko==2.7.2
pathlib2==2.3.5
pre-commit==1.20.0
pycparser==2.20
requests==2.26.0
scp==0.13.6
singledispatch==3.6.2
six==1.13.0
toml==0.10.0
urllib3==1.26.6
virtualenv==16.7.7
